/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 1245px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.top{
    background-image: url(media/banner.jpg);
    background-size: cover;
}
.icons{
    text-align: center;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 20px;
}
.a{
    border-radius: 50%;
    color: rgb(8, 6, 28);
    background-color: white;
    padding: 10px;
    height: 20px;
    width: 20px;
    
    margin-left: 10px;
}
header{
    display: flex;
    margin: 0 50px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
    width: 90%;
    border: 3px solid whitesmoke;
}
.logo{
    height: 100%px;
    width: 50px;
}
.name{
    position: relative;
    bottom: 15px;
    color: red;
    font-size: 25px;
    font-weight: 600;
}
.navs{
    text-decoration: none;
    color: black;
    margin-left: 25px;
}
.nav{
    margin-right: 20px;
}
#two{
    text-align: center;
    margin-top: 200px;
    color: white;
}
h1{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}
h2{
    padding: 20px 0;
}
.button1{
background-color: red;
color: white;
height: 40px;
width: 150px;
border: 3px solid red;
border-radius: 5px;
margin-bottom: 100px;
}
.all{
    max-width: 90%;
    margin: 5%;
}
#services{
    text-align: center;
    margin-top: 100px;
}
h3{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}
h4{
    padding: 20px 0;
}
.attributes{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    justify-content: center
    ;
}

.att{
    width: 200px;
    height: 200px;
    align-content: center;
    margin-left: 20px;
}
.solid2, .fa-regular{
        font-weight: 400;
        align-self: center;
        display: flex;
        justify-content: center;
        padding-top: 90px;
        font-size: 30px;
        margin-left: 80px;
        color: white;
    
}
.att1{
background-color: rgb(161, 214, 161);
}
.att2{
    background-color: rgb(217, 114, 106);
}
.att3{
    background-color: rgb(62, 102, 234);
}
.att4{
    background-color: rgb(15, 189, 119);
}
.a3{
    color: black;
    width: 50px;
}
#portfolio, #our-team, #contact{
    text-align: center;
}
.imgs, .persons{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
}
.port-1, .person{
    width: 200px;

margin-left: 20px;
}
.person{
    border-radius: 50%;
    margin-bottom: 50px;
}
h5{
    font: italic;
    font-size: 20px;
}
h6{
    margin-bottom: 30px;
}
.analysis{
    width: 60%;
    text-align: start;
    height: 128px;
}
.skills{width: 60%;text-align: start;}
.para{
 display: flex;
 margin-left: 130px;
 margin-bottom: 100px;
}
.skill{
    height: 22%;
    margin-bottom: 4px;
    background-color: gray;
    color: white;
    text-justify: auto;
    margin-left: 30px;
}
.skill-1{
    background-color: red;
    width: 90%;
    height: 100%;
    display: flex;
    align-content: center;
}
.skill-2{
    background-color: red;
    width: 80%;
    height: 100%;
}
.skill-3{
    background-color: red;
    width: 70%;
    height: 100%;
}
.skill-4{
    background-color: red;
    width: 80%;
    height: 100%;
}
.p{
    margin-top: 10px;
    width: 433px;
    border: 1px solid black;
    height: 20px;
    padding: 3px;
    color: gray;
}
.details{
    display: inline-block;
    left: 80px;
    text-align: start;
    position: relative;
    bottom: 267px;
    left: 350px;
}
.in2{
    width: 400px;
}
p{
	margin-top: 20px
}
.p-2{
    height: 80px;
    border: 1px solid black;
    width: 433px;
    padding: 2px;
    color: gray;
}
.button2{
    width: 440px;
    height: 40px;
    color: white;
    background-color: red;
    border: 0px;
    margin-top: 10px;
}
.button3{
    color: white;
    border: yellow;
    width: 120px;
    height: 35px;
    position: relative;
    background-color: red;
    top: -10px
}
footer{
    display: flex;
    justify-content: space-between;
}
.email{
    color: red;
    font-weight: 600;
}
aside{
    width: 20%;
    margin-left: 50px;
    height: 642px;
    background-color: #ec523f;
    display: inline-block;
    position: relative;
    top: -260px;
}
.logo2{
    height: 100%;
}
.header2{
    display: flex;align-content: center;
    background-color:#ec523f;
    border: 3px solid #ec523f;
    margin: 30px 10px;
    padding-top: 11px;
width: 80%;
}
.name2{
	color: white;
	position:relative;
	right: 20px;
	font-weight:700;
    font-size: 30px;
}
.bu{
    background-color: #ec523f;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 27px;
}
.as2{
	position:relative;
	top:250px;
	margin:20px
	
}
.traveller{
	color:white;
	font-size:20px;
	font-weight:bold;
}
.lorem{
	font-weight:600
}
#icons2{
	color:white;
	font-size: 20px;
	margin-top: 30px;
}
.con{
	border: 2px solid white;
border-radius: 50% ;
	padding: 5px;
	margin-left: 10px;
}
.right{width: 920px;height: 100vh;display: inline-block;overflow: scroll;}
.all2{
    display: inline;
    height: 100%;

}
.pictures{
    width: 40%;
    margin: 20px;
    border: 1px solid black;
}
.pics{
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-left: 20px;
}
.heading {
    margin-top: 20px;
    border-bottom: 0px;
    margin-left: 318px;
}